Cham_Cong_Main.json
{
  "name": "Cham_Cong_Main",
  "nodes": [
    {
      "parameters": {
        "content": "EAAdZCJHU8TbUBOwiWvMVPjK3L4rPKrwSK54ASUDJohbV5VyCZC0sXZABz5tmieZC7U0SDRBZBbwJq3lvZCTyVlk9pLa0ahjkDRS3sMF2b6KoNWZCHYUbHuv9fZBIF80Kiw40kDTwhA2BZCVZBJRL0yk7qRMqnnR1xsH553naNqle64afSDK7lGvV1XmXswxj4tOsoITTIEYjoEaGKKwFSR",
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1856,
        512
      ],
      "id": "229b38b8-8019-411d-a7a7-b82c96906bfe",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cham-cong",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1424,
        1088
      ],
      "id": "d4a5e75d-f5c6-4d11-8d55-1c72b27c8b7a",
      "name": "Webhook1",
      "webhookId": "e0e2f865-5366-449a-8e64-af246d60a0bf"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json;\nconst body = item.body; // body chứa: staff, start_time, finish_time, total_work, overtime, date, shift\n\n// Chuyển đổi định dạng ngày từ \"YYYY-MM-DD\" sang \"dd/mm/yyyy\"\nlet formattedDate = body.date;\nif (body.date.includes(\"-\")) {\n    const parts = body.date.split(\"-\");\n    if (parts.length === 3) {\n        formattedDate = parts[2] + \"/\" + parts[1] + \"/\" + parts[0];\n    }\n}\n\n// Tính thứ (weekday) từ body.date\nconst dateObj = new Date(body.date + \"T00:00:00\");\nconst weekdays = [\"Chủ nhật\", \"Thứ 2\", \"Thứ 3\", \"Thứ 4\", \"Thứ 5\", \"Thứ 6\", \"Thứ 7\"];\nconst weekday = weekdays[dateObj.getDay()];\n\n// Chuyển đổi total_work từ định dạng \"Xh Yp\" sang định dạng hh:mm\nconst regexTotal = /(\\d+)h\\s*(\\d+)p/;\nconst matchesTotal = body.total_work.match(regexTotal);\nlet formattedTotal = \"\";\nif (matchesTotal) {\n    let hours = matchesTotal[1].padStart(2, '0');\n    let minutes = matchesTotal[2].padStart(2, '0');\n    formattedTotal = hours + \":\" + minutes;\n} else {\n    formattedTotal = body.total_work;\n}\n\n// Tạo note cho total_work: \"X tiếng Y phút\"\nlet totalWorkNote = \"\";\nif (formattedTotal.includes(\":\")) {\n    const parts = formattedTotal.split(\":\");\n    if (parts.length === 2) {\n        totalWorkNote = `${parseInt(parts[0])} tiếng ${parseInt(parts[1])} phút`;\n    }\n}\n\n// Kiểm tra và chuyển đổi overtime từ định dạng \"Xh Yp\" sang định dạng hh:mm\nlet formattedOvertime = \"\";\nif (body.overtime && typeof body.overtime === \"string\") {\n    const regexOvertime = /(\\d+)h\\s*(\\d+)p/;\n    const matchesOvertime = body.overtime.match(regexOvertime);\n    if (matchesOvertime) {\n        let hours = matchesOvertime[1].padStart(2, '0');\n        let minutes = matchesOvertime[2].padStart(2, '0');\n        formattedOvertime = hours + \":\" + minutes;\n    } else {\n        formattedOvertime = body.overtime;\n    }\n}\n\n// Tạo note cho overtime: \"X tiếng Y phút\"\nlet overtimeNote = \"\";\nif (formattedOvertime && formattedOvertime.includes(\":\")) {\n    const partsOvertime = formattedOvertime.split(\":\");\n    if (partsOvertime.length === 2) {\n        overtimeNote = `${parseInt(partsOvertime[0])} tiếng ${parseInt(partsOvertime[1])} phút`;\n    }\n}\n\n// So sánh total_work và overtime để tạo trường is_extra_overtime\nlet is_extra_overtime = \"\";\nif (formattedTotal === formattedOvertime) {\n    // Nếu bằng nhau, đây là giờ làm thêm\n    is_extra_overtime = formattedOvertime; // hoặc bạn có thể đặt là \"Làm thêm\"\n} else {\n    is_extra_overtime = \"Không phải\";\n}\n\n// Gán thêm các trường vào output, bao gồm trường \"is_extra_overtime\"\nreturn [\n  {\n    json: {\n      staff: body.staff,\n      start_time: body.start_time,\n      finish_time: body.finish_time,\n      total_work: formattedTotal,\n      total_work_note: totalWorkNote,\n      overtime: formattedOvertime,\n      overtime_note: overtimeNote,\n      is_extra_overtime: is_extra_overtime,\n      date: formattedDate,\n      weekday: weekday,\n      shift: body.shift\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        1088
      ],
      "id": "15285646-cbea-46bd-888a-467f015307c4",
      "name": "LỌC LẤY TRƯỜNG THÔNG TIN CHẤM CÔNG"
    },
    {
      "parameters": {
        "content": "ĐỔI WEBHOOK TRONG 2 FILE PHP \n- FB WEBHOOK\n- Plugin"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1808,
        1056
      ],
      "id": "ed5e26c2-56d8-4f79-b95f-ac6fcc613dc6",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Gửi tin nhắn cuối ngày\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1488,
        1408
      ],
      "typeVersion": 1,
      "id": "a96a9352-8c08-4602-a925-3228313fb91f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ac4425cd-fde7-4904-a875-a899219e31be",
              "leftValue": "={{ $json.Today }}",
              "rightValue": "={{ $json['NGÀY THÁNG'] }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        704,
        624
      ],
      "id": "6c0934f6-1f19-4450-9693-2c3dfff86bc0",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        432,
        624
      ],
      "id": "e0cf7b78-6a2e-45bb-87dc-42580b82da77",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8bbcf6ab-e223-4440-a0ab-afeecbb8da49",
              "name": "Today",
              "value": "={{ $json.formattedDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        416
      ],
      "id": "3bc62af4-a150-488d-b96c-fe82e31ea09c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/e/2PACX-1vQxuguY10A8-7hzOLSS0iZWZ7uFJh4yq-VU9BWOvPYyUUf8HXcjFObw-FkzWJphZihY1AwyK3bESI18/pub",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "gid",
              "value": "1243599757"
            },
            {
              "name": "single",
              "value": "true"
            },
            {
              "name": "output",
              "value": "tsv"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -176,
        640
      ],
      "id": "95e97491-8152-4d7e-a26f-2420bd7a09f9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "id": "5e18dc1b-0653-4381-abf7-2bf67b97557c",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst grouped = {};\nconst ngay = items[0].json[\"NGÀY THÁNG\"];\n\nfor (const item of items) {\n  const ca = item.json[\"CA\"];\n  const ten = item.json[\"TÊN\"];\n  if (!grouped[ca]) grouped[ca] = [];\n  grouped[ca].push(ten);\n}\n\nlet message = `${ngay}`;\nif (grouped[\"Ca sáng\"]) {\n  message += `\\n🌞 CA SÁNG: ${grouped[\"Ca sáng\"].join(\", \")}`;\n}\nif (grouped[\"Ca tối\"]) {\n  message += `\\n🌙 CA TỐI: ${grouped[\"Ca tối\"].join(\", \")}`;\n}\n\nreturn [\n  {\n    json: {\n      message\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        416
      ],
      "id": "bb9e1b70-a78c-436a-9d59-22356bacc64c",
      "name": "Code1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.staff }}",
                    "rightValue": "Thảo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c2d3c476-e1e3-45d3-96e1-74ee57c22114"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58b61d36-12dd-4906-a3e0-8d158707e322",
                    "leftValue": "={{ $json.staff }}",
                    "rightValue": "Phương Anh",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3ab44c80-4d28-4677-a7ca-47ef57a773cd",
                    "leftValue": "={{ $json.staff }}",
                    "rightValue": "Hà (Bé)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87b1786c-7f65-4e34-9879-22e502d22ccd",
                    "leftValue": "={{ $json.staff }}",
                    "rightValue": "Thư",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bebf7825-f9c8-4afe-a404-05dd5da2e06e",
                    "leftValue": "={{ $json.staff }}",
                    "rightValue": "Lan Anh",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d77730f1-2108-4094-924d-9f651aaeee72",
                    "leftValue": "={{ $json.staff }}",
                    "rightValue": "Hà (Lớn)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32d046c3-c7d2-4686-9846-ae1a635c93b2",
                    "leftValue": "={{ $json.staff }}",
                    "rightValue": "Lan",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1200,
        528
      ],
      "id": "499e8436-ab8d-4d4a-aa5f-ac2cf482e228",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw",
          "mode": "list",
          "cachedResultName": "DATA-CHAM-CONG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1114311930,
          "mode": "list",
          "cachedResultName": "PHƯƠNG ANH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit#gid=1114311930"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NGÀY THÁNG": "={{ $json.date }}",
            "CA": "={{ $json.shift }}",
            "TÊN": "={{ $json.staff }}",
            "GIỜ BẮT ĐẦU": "={{ $json.start_time }}",
            "GIỜ KẾT THÚC": "={{ $json.finish_time }}",
            "TỔNG": "={{ $json.total_work_note }}",
            "GIỜ LÀM THÊM": "={{ $json.overtime }}"
          },
          "matchingColumns": [
            "THẢO (THÁNG 06/2025)"
          ],
          "schema": [
            {
              "id": "NGÀY THÁNG",
              "displayName": "NGÀY THÁNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CA",
              "displayName": "CA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TÊN",
              "displayName": "TÊN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ BẮT ĐẦU",
              "displayName": "GIỜ BẮT ĐẦU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ KẾT THÚC",
              "displayName": "GIỜ KẾT THÚC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TỔNG",
              "displayName": "TỔNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ LÀM THÊM",
              "displayName": "GIỜ LÀM THÊM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PHƯƠNG ANH",
              "displayName": "PHƯƠNG ANH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -768,
        352
      ],
      "id": "6a710ba5-e6a0-42f3-b666-12fb430935e6",
      "name": "Phuong_Anh",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RKhU2jItzkOVzxAZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw",
          "mode": "list",
          "cachedResultName": "DATA-CHAM-CONG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 530188842,
          "mode": "list",
          "cachedResultName": "HÀ (BÉ)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit#gid=530188842"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NGÀY THÁNG": "={{ $json.date }}",
            "CA": "={{ $json.shift }}",
            "TÊN": "={{ $json.staff }}",
            "GIỜ BẮT ĐẦU": "={{ $json.start_time }}",
            "GIỜ KẾT THÚC": "={{ $json.finish_time }}",
            "TỔNG": "={{ $json.total_work_note }}",
            "GIỜ LÀM THÊM": "={{ $json.overtime }}"
          },
          "matchingColumns": [
            "THẢO (THÁNG 06/2025)"
          ],
          "schema": [
            {
              "id": "NGÀY THÁNG",
              "displayName": "NGÀY THÁNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CA",
              "displayName": "CA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TÊN",
              "displayName": "TÊN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ BẮT ĐẦU",
              "displayName": "GIỜ BẮT ĐẦU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ KẾT THÚC",
              "displayName": "GIỜ KẾT THÚC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TỔNG",
              "displayName": "TỔNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ LÀM THÊM",
              "displayName": "GIỜ LÀM THÊM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HÀ (BÉ)",
              "displayName": "HÀ (BÉ)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -768,
        512
      ],
      "id": "35de484e-a840-44d5-a05f-ac2997e4c2fc",
      "name": "Hà (Bé)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RKhU2jItzkOVzxAZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw",
          "mode": "list",
          "cachedResultName": "DATA-CHAM-CONG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 673680826,
          "mode": "list",
          "cachedResultName": "THƯ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit#gid=673680826"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NGÀY THÁNG": "={{ $json.date }}",
            "CA": "={{ $json.shift }}",
            "TÊN": "={{ $json.staff }}",
            "GIỜ BẮT ĐẦU": "={{ $json.start_time }}",
            "GIỜ KẾT THÚC": "={{ $json.finish_time }}",
            "TỔNG": "={{ $json.total_work_note }}",
            "GIỜ LÀM THÊM": "={{ $json.overtime }}"
          },
          "matchingColumns": [
            "THẢO (THÁNG 06/2025)"
          ],
          "schema": [
            {
              "id": "NGÀY THÁNG",
              "displayName": "NGÀY THÁNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CA",
              "displayName": "CA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TÊN",
              "displayName": "TÊN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ BẮT ĐẦU",
              "displayName": "GIỜ BẮT ĐẦU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ KẾT THÚC",
              "displayName": "GIỜ KẾT THÚC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TỔNG",
              "displayName": "TỔNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ LÀM THÊM",
              "displayName": "GIỜ LÀM THÊM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "THƯ",
              "displayName": "THƯ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -768,
        672
      ],
      "id": "7a9c1764-2ec3-45fe-b350-e0955929f13d",
      "name": "Thư",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RKhU2jItzkOVzxAZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw",
          "mode": "list",
          "cachedResultName": "DATA-CHAM-CONG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 226630437,
          "mode": "list",
          "cachedResultName": "LAN ANH",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit#gid=226630437"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NGÀY THÁNG": "={{ $json.date }}",
            "CA": "={{ $json.shift }}",
            "TÊN": "={{ $json.staff }}",
            "GIỜ BẮT ĐẦU": "={{ $json.start_time }}",
            "GIỜ KẾT THÚC": "={{ $json.finish_time }}",
            "TỔNG": "={{ $json.total_work }}",
            "GIỜ LÀM THÊM": "={{ $json.overtime }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NGÀY THÁNG",
              "displayName": "NGÀY THÁNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CA",
              "displayName": "CA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TÊN",
              "displayName": "TÊN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GIỜ BẮT ĐẦU",
              "displayName": "GIỜ BẮT ĐẦU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GIỜ KẾT THÚC",
              "displayName": "GIỜ KẾT THÚC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TỔNG",
              "displayName": "TỔNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GIỜ LÀM THÊM",
              "displayName": "GIỜ LÀM THÊM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LAN ANH",
              "displayName": "LAN ANH",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -768,
        832
      ],
      "id": "db3e29e3-38b6-4a2c-8659-88e1b76c388b",
      "name": "Lan Anh",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RKhU2jItzkOVzxAZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw",
          "mode": "list",
          "cachedResultName": "DATA-CHAM-CONG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1436054928,
          "mode": "list",
          "cachedResultName": "HÀ (LỚN)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit#gid=1436054928"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NGÀY THÁNG": "={{ $json.date }}",
            "CA": "={{ $json.shift }}",
            "TÊN": "={{ $json.staff }}",
            "GIỜ BẮT ĐẦU": "={{ $json.start_time }}",
            "GIỜ KẾT THÚC": "={{ $json.finish_time }}",
            "TỔNG": "={{ $json.total_work_note }}",
            "GIỜ LÀM THÊM": "={{ $json.overtime }}"
          },
          "matchingColumns": [
            "THẢO (THÁNG 06/2025)"
          ],
          "schema": [
            {
              "id": "NGÀY THÁNG",
              "displayName": "NGÀY THÁNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CA",
              "displayName": "CA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TÊN",
              "displayName": "TÊN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ BẮT ĐẦU",
              "displayName": "GIỜ BẮT ĐẦU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ KẾT THÚC",
              "displayName": "GIỜ KẾT THÚC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TỔNG",
              "displayName": "TỔNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ LÀM THÊM",
              "displayName": "GIỜ LÀM THÊM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HÀ (LỚN)",
              "displayName": "HÀ (LỚN)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -768,
        1008
      ],
      "id": "d76be1fd-eaed-4cf3-9cb2-07234ba0e551",
      "name": "Hà (Lớn)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RKhU2jItzkOVzxAZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw",
          "mode": "list",
          "cachedResultName": "DATA-CHAM-CONG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1672845354,
          "mode": "list",
          "cachedResultName": "LAN ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit#gid=1672845354"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NGÀY THÁNG": "={{ $json.date }}",
            "CA": "={{ $json.shift }}",
            "TÊN": "={{ $json.staff }}",
            "GIỜ BẮT ĐẦU": "={{ $json.start_time }}",
            "GIỜ KẾT THÚC": "={{ $json.finish_time }}",
            "TỔNG": "={{ $json.total_work_note }}",
            "GIỜ LÀM THÊM": "={{ $json.overtime }}"
          },
          "matchingColumns": [
            "THẢO (THÁNG 06/2025)"
          ],
          "schema": [
            {
              "id": "NGÀY THÁNG",
              "displayName": "NGÀY THÁNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CA",
              "displayName": "CA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TÊN",
              "displayName": "TÊN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ BẮT ĐẦU",
              "displayName": "GIỜ BẮT ĐẦU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ KẾT THÚC",
              "displayName": "GIỜ KẾT THÚC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TỔNG",
              "displayName": "TỔNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "GIỜ LÀM THÊM",
              "displayName": "GIỜ LÀM THÊM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LAN",
              "displayName": "LAN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -768,
        1168
      ],
      "id": "9bb05bd9-f75d-4daa-8e86-17f8d4168b9d",
      "name": "Lan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RKhU2jItzkOVzxAZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot2597159352573319382:lulppyLFgNoinVzTFsuwZXnUCZUVNBFDJtclvrHBruuvMspobLKQzymKbvCUNDzY/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "=74c2639d3ecfd7918ede"
            },
            {
              "name": "text",
              "value": "=Thảo về kìa!"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        144
      ],
      "id": "848ed03b-ba16-4e4c-86c7-f412cb3b78df",
      "name": "Nhắn ZL CHO HA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot2597159352573319382:lulppyLFgNoinVzTFsuwZXnUCZUVNBFDJtclvrHBruuvMspobLKQzymKbvCUNDzY/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "=6178b7bfb1eb58b501fa"
            },
            {
              "name": "text",
              "value": "={{ $json['NGÀY THÁNG'] }} - {{ $json.CA }}\n➖➖➖➖➖➖➖\nBắt đầu: {{ $json['GIỜ BẮT ĐẦU'] }}\nKết thúc: {{ $json['GIỜ KẾT THÚC'] }}\nLàm thêm: {{ $json['GIỜ LÀM THÊM'] }}\n🌻🌻🌻"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        352
      ],
      "id": "12bc22dd-317f-4a47-aa8b-1c37d6da031f",
      "name": "Phuong-Anh"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot2597159352573319382:lulppyLFgNoinVzTFsuwZXnUCZUVNBFDJtclvrHBruuvMspobLKQzymKbvCUNDzY/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "=9b9f6a16105df903a04c"
            },
            {
              "name": "text",
              "value": "={{ $json['NGÀY THÁNG'] }} - {{ $json.CA }}\n➖➖➖➖➖➖➖\nBắt đầu: {{ $json['GIỜ BẮT ĐẦU'] }}\nKết thúc: {{ $json['GIỜ KẾT THÚC'] }}\nLàm thêm: {{ $json['GIỜ LÀM THÊM'] }}\n🌻🌻🌻"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        512
      ],
      "id": "247f1e77-8c51-4a0e-b012-bf7baebe3030",
      "name": "Hà (Bé)1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot2597159352573319382:lulppyLFgNoinVzTFsuwZXnUCZUVNBFDJtclvrHBruuvMspobLKQzymKbvCUNDzY/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "=5b313d673630df6e8621"
            },
            {
              "name": "text",
              "value": "={{ $json['NGÀY THÁNG'] }} - {{ $json.CA }}\n➖➖➖➖➖➖➖\nBắt đầu: {{ $json['GIỜ BẮT ĐẦU'] }}\nKết thúc: {{ $json['GIỜ KẾT THÚC'] }}\nLàm thêm: {{ $json['GIỜ LÀM THÊM'] }}\n🌻🌻🌻"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        672
      ],
      "id": "77f1ffff-e1e1-4002-919c-b117eb03f0d3",
      "name": "Thư1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot2597159352573319382:lulppyLFgNoinVzTFsuwZXnUCZUVNBFDJtclvrHBruuvMspobLKQzymKbvCUNDzY/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "=c870e9651a29f377aa38"
            },
            {
              "name": "text",
              "value": "={{ $json['NGÀY THÁNG'] }} - {{ $json.CA }}\n➖➖➖➖➖➖➖\nBắt đầu: {{ $json['GIỜ BẮT ĐẦU'] }}\nKết thúc: {{ $json['GIỜ KẾT THÚC'] }}\nLàm thêm: {{ $json['GIỜ LÀM THÊM'] }}\n🌻🌻🌻"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        832
      ],
      "id": "1285debb-43d0-490a-a135-766090145cf9",
      "name": "Lan Anh1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot2597159352573319382:lulppyLFgNoinVzTFsuwZXnUCZUVNBFDJtclvrHBruuvMspobLKQzymKbvCUNDzY/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "=93371a86a9c5409b19d4"
            },
            {
              "name": "text",
              "value": "={{ $json['NGÀY THÁNG'] }} - {{ $json.CA }}\n➖➖➖➖➖➖➖\nBắt đầu: {{ $json['GIỜ BẮT ĐẦU'] }}\nKết thúc: {{ $json['GIỜ KẾT THÚC'] }}\nLàm thêm: {{ $json['GIỜ LÀM THÊM'] }}\n🌻🌻🌻"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        1008
      ],
      "id": "ce76511b-3784-46fc-9db7-1a08583f84b7",
      "name": "Hà (Lớn)1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot2597159352573319382:lulppyLFgNoinVzTFsuwZXnUCZUVNBFDJtclvrHBruuvMspobLKQzymKbvCUNDzY/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "=c1dad820ab6b42351b7a"
            },
            {
              "name": "text",
              "value": "={{ $json['NGÀY THÁNG'] }} - {{ $json.CA }}\n➖➖➖➖➖➖➖\nBắt đầu: {{ $json['GIỜ BẮT ĐẦU'] }}\nKết thúc: {{ $json['GIỜ KẾT THÚC'] }}\nLàm thêm: {{ $json['GIỜ LÀM THÊM'] }}\n🌻🌻🌻"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        1168
      ],
      "id": "90da4b67-e008-486f-aedd-2aafecb04c38",
      "name": "Lan1"
    },
    {
      "parameters": {
        "jsCode": "const timestamp = $json.timestamp;\n\n// Chuyển timestamp về đối tượng Date\nconst dateObj = new Date(timestamp);\n\n// Lấy ngày, tháng, năm\nconst day = String(dateObj.getDate()).padStart(2, '0');\nconst month = String(dateObj.getMonth() + 1).padStart(2, '0'); // tháng bắt đầu từ 0\nconst year = dateObj.getFullYear();\n\n// Kết hợp thành định dạng dd/mm/yyyy\nconst formattedDate = `${day}/${month}/${year}`;\n\nreturn [{\n  formattedDate\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        416
      ],
      "id": "8952505c-1970-472e-8e71-b7c577e7837d",
      "name": "Fomat ngày hôm nay"
    },
    {
      "parameters": {
        "jsCode": "// Lấy chuỗi TSV\nconst tsv = $json.data;\n\n// Cắt thành từng dòng\nconst lines = tsv.trim().split(/\\r?\\n/);\n\n// Cắt dòng đầu tiên làm header\nconst headers = lines[0].split(\"\\t\");\n\n// Xử lý các dòng còn lại thành object JSON\nconst result = lines.slice(1).map(line => {\n  const values = line.split(\"\\t\");\n  const obj = {};\n  headers.forEach((header, i) => {\n    obj[header.trim()] = values[i]?.trim() || \"\";\n  });\n  return { json: obj };\n});\n\nreturn result;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        640
      ],
      "id": "d4ed1d9a-ab7c-43e6-88cf-50c5313c7a16",
      "name": "Quét toàn bộ ngày"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot2597159352573319382:lulppyLFgNoinVzTFsuwZXnUCZUVNBFDJtclvrHBruuvMspobLKQzymKbvCUNDzY/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "=b2d44a9fefd3068d5fc2"
            },
            {
              "name": "text",
              "value": "={{ $json['NGÀY THÁNG'] }} - {{ $json.CA }}\n➖➖➖➖➖➖➖\nBắt đầu: {{ $json['GIỜ BẮT ĐẦU'] }}\nKết thúc: {{ $json['GIỜ KẾT THÚC'] }}\nLàm thêm: {{ $json['GIỜ LÀM THÊM'] }}\n🌻🌻🌻\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -576,
        144
      ],
      "id": "c86386aa-b1c9-4fb0-a4be-9ce4355cc272",
      "name": "ZL-01"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw",
          "mode": "list",
          "cachedResultName": "DATA-CHAM-CONG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 668788943,
          "mode": "list",
          "cachedResultName": "THẢO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zCJRHoMUzbBEsuwXTMp6i6L83-kcpyXcbnwUf0fshMw/edit#gid=668788943"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "NGÀY THÁNG": "={{ $json.date }}",
            "CA": "={{ $json.shift }}",
            "TÊN": "={{ $json.staff }}",
            "GIỜ BẮT ĐẦU": "={{ $json.start_time }}",
            "GIỜ KẾT THÚC": "={{ $json.finish_time }}",
            "TỔNG": "={{ $json.total_work }}",
            "GIỜ LÀM THÊM": "={{ $json.overtime }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "NGÀY THÁNG",
              "displayName": "NGÀY THÁNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CA",
              "displayName": "CA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TÊN",
              "displayName": "TÊN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GIỜ BẮT ĐẦU",
              "displayName": "GIỜ BẮT ĐẦU",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GIỜ KẾT THÚC",
              "displayName": "GIỜ KẾT THÚC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TỔNG",
              "displayName": "TỔNG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GIỜ LÀM THÊM",
              "displayName": "GIỜ LÀM THÊM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "THẢO",
              "displayName": "THẢO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -752,
        144
      ],
      "id": "46fb67c2-4ed7-4815-945d-a045cdef3ea7",
      "name": "Thảo",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RKhU2jItzkOVzxAZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://bot-api.zapps.me/bot2597159352573319382:lulppyLFgNoinVzTFsuwZXnUCZUVNBFDJtclvrHBruuvMspobLKQzymKbvCUNDzY/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "=681a8dad81e568bb31f4"
            },
            {
              "name": "text",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        240
      ],
      "id": "36f084b6-1543-457b-9a52-3c14ba34529f",
      "name": "ZL Xu-Xu"
    }
  ],
  "pinData": {
    "Schedule Trigger1": [
      {
        "json": {
          "timestamp": "2025-09-03T13:12:12.058-04:00",
          "Readable date": "September 3rd 2025, 1:12:12 pm",
          "Readable time": "1:12:12 pm",
          "Day of week": "Wednesday",
          "Year": "2025",
          "Month": "September",
          "Day of month": "03",
          "Hour": "13",
          "Minute": "12",
          "Second": "12",
          "Timezone": "America/New_York (UTC-04:00)"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "6gl3y83b.rsrv.host",
            "user-agent": "WordPress/6.8.2; https://sanphukhoamauhong.com",
            "content-length": "181",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "202.92.4.30",
            "cf-ipcountry": "VN",
            "cf-ray": "97e4f12d29240993-HKG",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "x-forwarded-for": "202.92.4.30, 172.71.219.54",
            "x-forwarded-host": "6gl3y83b.rsrv.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "48b78944b8a9",
            "x-real-ip": "172.71.219.54"
          },
          "params": {},
          "query": {},
          "body": {
            "staff": "Hà (Lớn)",
            "start_time": "07:50",
            "finish_time": "11:36",
            "total_work": "3h 46p",
            "overtime": "1h 16p",
            "date": "2025-09-13",
            "weekday": "Thứ 7",
            "shift": "Ca sáng"
          },
          "webhookUrl": "https://6gl3y83b.rsrv.host/webhook/cham-cong",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "LỌC LẤY TRƯỜNG THÔNG TIN CHẤM CÔNG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LỌC LẤY TRƯỜNG THÔNG TIN CHẤM CÔNG": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Quét toàn bộ ngày",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Fomat ngày hôm nay",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "ZL Xu-Xu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Thảo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Phuong_Anh",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hà (Bé)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Thư",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lan Anh",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Hà (Lớn)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phuong_Anh": {
      "main": [
        [
          {
            "node": "Phuong-Anh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hà (Bé)": {
      "main": [
        [
          {
            "node": "Hà (Bé)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thư": {
      "main": [
        [
          {
            "node": "Thư1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lan Anh": {
      "main": [
        [
          {
            "node": "Lan Anh1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hà (Lớn)": {
      "main": [
        [
          {
            "node": "Hà (Lớn)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lan": {
      "main": [
        [
          {
            "node": "Lan1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fomat ngày hôm nay": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quét toàn bộ ngày": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Thảo": {
      "main": [
        [
          {
            "node": "ZL-01",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ZL-01": {
      "main": [
        [
          {
            "node": "Nhắn ZL CHO HA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7f30f28e-1e26-4b6c-a343-26ff33aea4c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a4961a59176d5fd864e9eb69e150a7df1eee10d7450116c18cb0ec2a61b8195"
  },
  "id": "KnTPta7mUlIfHgJy",
  "tags": []
}